[alias]
    aa = add .
    c = commit -am
    co = checkout
    db = branch -d
    Db = branch -D
    df = diff --color --color-words --abbrev
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    nb = checkout -b
    pu = pull
    p = push
    po = push origin
    poh = push origin HEAD
    pom = push origin master
    s = status -s
    h2 = rebase -i head~2
    h3 = rebase -i head~3
    h4 = rebase -i head~4
    h5 = rebase -i head~5


[color]
	ui = always
[user]
    email = amaxwell01@gmail.com
    name = Andrew Maxwell
[credential]
    helper = osxkeychain


## look into what the below does

[apply]
	whitespace = fix
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	log = true
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"

# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:amaxwell01/"]
  insteadOf = "git://github.com/amaxwell01/"
